<div class="creating-container">
  <mat-card color="accent">
    <form (submit)="onSaveDoctor(doctorForm)" #doctorForm="ngForm">
      <h1>Tworzenie nowego konta</h1>

      <mat-form-field>
        <input
          matInput
          type="text"
          name="login"
          [ngModel]="doctor?.login"
          required
          minlength="3"
          placeholder="Twój login"
          #login="ngModel"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="password"
          [ngModel]="doctor?.password"
          required
          minlength="3"
          placeholder="Twoje hasło"
          #password="ngModel"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="name"
          [ngModel]="doctor?.name"
          required
          minlength="3"
          placeholder="Twoje imie"
          #name="ngModel"
        />
        <mat-error *ngIf="name.invalid">Proszę podać imię</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="lastname"
          required
          [ngModel]="doctor?.lastname"
          minlength="3"
          placeholder="Twoje nazwisko"
          #lastname="ngModel"
        />
        <mat-error *ngIf="lastname.invalid">Prosze podać nazwisko</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="city"
          [ngModel]="doctor?.city"
          required
          minlength="3"
          placeholder="Twoje miasto"
          #city="ngModel"
        />
        <mat-error *ngIf="city.invalid">Proszę podać miasto</mat-error>
      </mat-form-field>
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Specjalizacje</mat-label>
        <mat-chip-list #specjalizations aria-label="Spec selection">
          <mat-chip
            *ngFor="let spec of specjalisations"
            (removed)="remove(spec)"
          >
            {{ spec.specjalisations }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            name="specjalizations"
            placeholder="Nowa specjalizacja..."
            required
            [ngModel]="doctor?.specjalizations"
            [matChipInputFor]="specjalizations"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Zapisz</button>
    </form>
  </mat-card>
</div>
