<div class="page">
  <h1>Witam w MedApp</h1>

  <h2>Aby korzystać z aplikacji wybierz typ konta</h2>

  <mat-row>
    <a
      routerLink="/admins"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-raised-button
      >Admin</a
    >
    <a
      routerLink="/patient"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-raised-button
      >Pacjent</a
    >
    <a
      routerLink="/doctors"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-raised-button
      >Lekarz</a
    >
  </mat-row>
</div>
