<div class="creating-container">
  <h1>Spis Lekarzy</h1>
  <mat-accordion multi="true" *ngIf="doctors.length > 0">
    <mat-expansion-panel *ngFor="let doctor of doctors">
      <mat-expansion-panel-header>
        {{ doctor.lastname }} {{ doctor.name }}
      </mat-expansion-panel-header>
      <p>{{ doctor.specjalizations }}</p>
      <p>{{ doctor.city }}</p>
      <mat-action-row>
        <a mat-button color="accent" [routerLink]="['edit', doctor.id]"
          >EDYTUJ</a
        >
        <button mat-button color="accent" (click)="onDelete(doctor.id)">
          USUŃ
        </button>
        <a mat-button color="accent" [routerLink]="['plan', doctor.id]"
          >GRAFIK</a
        >
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="doctors.length <= 0">
    Brak lekarzy w bazie!
  </p>
</div>
